<footer class="footer">
    <div class="logo">
      <!-- Your logo SVG code here -->
      <img src="assets/logo.png" alt="logo" class="mx-auto" />
      <p class="my-1"><a href="/">Terms of Service</a> | <a href="/">Privacy Policy</a></p>
      <div class="flex justify-center">
        <div class="andriod mr-2">
          <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
        </div>
        <div class="ios">
          <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <h4 class="text-2xl font-semibold">Boggle</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Policies</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="text-2xl font-semibold">Car sharing cities</h4>
      <ul>
        <li><a href="#">Lagos</a></li>
        <li><a href="#">Abuja</a></li>
        <li><a href="#">Portharcourt</a></li>
        <li><a href="#">Owerri</a></li>
        <li><a href="#">Enugu</a></li>
        <li><a href="#">Uyo</a></li>
        <li><a href="#">Calabar</a></li>
        <li><a href="#">Awka</a></li>
        <li><a href="#">Asaba</a></li>
        <li><a href="#">Onitsha</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="text-2xl font-semibold">Explore</h4>
      <ul>
        <li><a href="#">Book a car</a></li>
        <li><a href="#">Rent a car</a></li>
        <li><a href="#">Trust & Safety</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">List your car</a></li>
        <li><a href="#">Insurance & Protections</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <div class="icons flex justify-evenly text-center">
        <a href="/"><i class="fa-brands fa-instagram text-2xl" style="color: #12B7D2;"></i></a>
        <a href="/"><i class="fa-brands fa-twitter text-2xl" style="color: #12B7D2;"></i></a>
        <a href="/"><i class="fa-brands fa-facebook text-2xl" style="color: #12B7D2;"></i></a>
      </div>
      <h4 class="my-2 text-2xl font-semibold">Get in touch</h4>
      <p>Questions or FeedBack?</p>
      <p>We'd love to hear from you</p>
    </div>
  </footer>
  
  

