<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Host | Boggle </title>
</head>
<body>
    <section class="home items-center">
        <div class="left">
            <h1 class="text-5xl uppercase font-bold mb-3" style="color: #000;">Turn your car into </h1>
            <h1 class="text-5xl uppercase font-bold mb-3" style="color: #000;">Extra Money on <span style="color: #12B7D2;">Boggle</span></h1>
            <p class="2xl font-medium">When you list your car, you're not only earning money<br> your also assisting others in exploring your city. <span style="color: #000;">it's a mutually beneficial oopurtunity waiting for you</span></p>
            <a><button class="list-button mt-3">List your car <i class="fa-solid fa-arrow-right ml-2 py-1.5" style="color: #fff;"></i></button></a>
        </div>
        <div class="img-left">
            <img src="assets/images/finance-cuate.svg" alt="car-image"/>
        </div>
    </section>
    <section class="second-section">
        <div class="city-bg">
            <img src="assets/images/homepage-rectangle-34.png" alt="man-sitting"/>
            <div class="city-text absolute flex flex-col text-left mb-3">
              <h1 class="text-2xl capitalize font-bold" style="color: #000;">Who Are</h1>
              <h1 class="text-2xl capitalize font-bold mb-2" style="color: #000;">Boggle Host?</h1>
              <p class="text-base capitalize" style="color: #000;">Boggle host are everyday heroes who recognize the untapped pontential of their vehicles.
            they've decided to take their car ownership to the next level by sharing it with others on our platform.</p>
              <a><button class="city-button mt-3">Learn More</button></a>
            </div>
          </div>
    </section>
    <section class="third-section">
        <h1 class="text-2xl font-bold text-center my-4 capitalize" style="color: #12B7D2;">Why Be a Boggle Host?</h1>
        <div class="third-hold">
            <div class="third-text">
                <div class="flex flex-col mb-3">
                  <p class="capitalize text-2xl font-bold mb-1" style="color: #000;">Earn While You Sleep</p>
                  <p class="capitalize text-base" style="color: #000;">Your car can earn you money 24/7, even when you're not behind the wheel</p>
                </div>
                <div class="flex flex-col mb-3">
                  <p class="capitalize text-2xl font-bold mb-1" style="color: #000;">Your Car, Your Rules</p>
                  <p class="capitalize text-base" style="color: #000;">Your car can earn you money 24/7, even when you're not behind the wheel</p>
                </div>
                <div class="flex flex-col mb-3">
                  <p class="capitalize text-2xl font-bold mb-1" style="color: #000;">No Hidden Cost</p>
                  <p class="capitalize text-base" style="color: #000;">Boggle Covers Insurance, Maintenance, And More. There Are No Hidden Fees to worry about</p>
                </div>
                <div class="flex flex-col mb-3">
                  <p class="capitalize text-2xl font-bold mb-1" style="color: #000;">Support And Assistance</p>
                  <p class="capitalize text-base" style="color: #000;">our dedicated support team is ready to assist you whenever you need it.</p>
                </div>
                <div class="flex flex-col">
                  <p class="capitalize text-2xl font-bold mb-1" style="color: #000;">Responsible Ownership</p>
                  <p class="capitalize text-base" style="color: #000;"> by sharing your car, you're contributing to a more sustainable and eco-friendly future. </p>
                </div>
              </div>
              <div class="third-image">
                <img src="assets/images/homepage-about.png" alt="car-bg" />
              </div>
        </div>
      </section>
    <section class="fourth-section">
        <h1 class="text-3xl font-medium text-center my-5 capitalize" style="color: #000;">Getting Started On Boggle Host</h1>
        <div class="fourth-flex">
            <div class="login-container">
                <div><img src="assets/images/1st.png" alt="step-1" /></div>
                <h3 class="text-lg text-center font-bold capitalize mb-1" style="color: #000;">Sign Up</h3>
                <p class="text-base text-center capitalize" style="color: #000;">Download The Boggle App And Create Your Host Profile.</p>
            </div>
            <div class="login-container">
                <div><img src="assets/images/2nd.png" alt="step-1" /></div>
                <h3 class="text-lg text-center font-bold capitalize mb-1" style="color: #000;">List Your Car</h3>
                <p class="text-base text-center capitalize" style="color: #000;">Add Your vehicle, set your pricing, and customize availability.</p>
            </div>
            <div class="login-container">
                <div><img src="assets/images/3rd.png" alt="step-3" /></div>
                <h3 class="text-lg text-center font-bold capitalize mb-1" style="color: #000;">Start Sharing</h3>
                <p class="text-base text-center capitalize" style="color: #000;">once approved, your car becomes available to renters sit back. and watch your income grow.</p>
            </div>
        </div>
    </section>
    <section class="fifth-section">
        <div class="fifth-image">
            <img src="assets/images/unsplash.png" alt="car-bg" />
        </div>
        <div class="fifth-text">
            <h1 class="text-2xl font-bold capitalize mb-4">Boggle Got Your Back</h1>
            <div class="flex flex-col">
                <p class="text-lg font-bold mb-2">Third-party liability insurance</p>
                <p class="text-base capitalize">we prioritize your safesty and security. Our verification process ensures 
                    trust between hosts and renters/buyers, We also provvide insurance coverage for both the host in case of unforseen incidents.
                </p>
            </div>
            <div class="flex flex-col my-3">
                <p class="text-lg font-bold mb-2">Physical damage protection</p>
                <p class="text-base capitalize">Two protection plans are available, and you can choose the one that best suits your needs. Both
                    plans provide reimbursement for car repairs up to the cash value of your car if it's damaged during a trip.
                </p>
            </div>
            <div class="flex flex-col mb-3">
                <p class="text-2xl font-bold mb-2">24/7 Customer SUPPORT</p>
                <p class="text-base capitalize">Our dedicated 24/7 customer support is just a click away, and your
                    guests have easy access to Boggle roadside assistance when they need it.
                </p>
            </div>
            <a><button class="list-button mt-2">List your car <i class="fa-solid fa-arrow-right ml-2 py-1.5" style="color: #fff;"></i></button></a>
        </div>
    </section>
    <section class="sixth-section">
        <h1 class="text-3xl font-medium text-center my-4 capitalize" style="color: #000;">Frequently Asked Questions</h1>
        <div class="accordion-container justify-between">
            <div class="flex flex-col mr-5 accord-con">
            <app-accordion title="Is Boggle available in my city?" content="Getaround is an online marketplace that connects Hosts and Guests from our car sharing community. 
            Individuals can share their own cars on our platform (Hosts) and Guests can use our mobile app or website
             to book a car and unlock it without the need to meet someone and hand off keys."></app-accordion>
            <app-accordion title="What if I need to return my car early?" content="Getaround is an online marketplace that connects Hosts and Guests from our car sharing community. 
            Individuals can share their own cars on our platform (Hosts) and Guests can use our mobile app or website
             to book a car and unlock it without the need to meet someone and hand off keys."></app-accordion>
            <app-accordion title="Are there mileage limits?" content="Answer 1"></app-accordion>
            <app-accordion title="What if I encounter an issue with my car?" content="Answer 1"></app-accordion>
            <app-accordion title="Can I purchase a car I've been renting through Boggle" content="Answer 1"></app-accordion>
            </div>
            <div class="flex flex-col accord-con">
                <app-accordion title="Is Boggle available in my city?" content="Answer 1"></app-accordion>
                <app-accordion title="What if I need to return my car early?" content="Answer 1"></app-accordion>
                <app-accordion title="Are there mileage limits?" content="Answer 1"></app-accordion>
                <app-accordion title="What if I encounter an issue with my car?" content="Answer 1"></app-accordion>
                <app-accordion title="Can I purchase a car I've been renting through Boggle" content="Answer 1"></app-accordion>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>
