/* visitor-header.component.css */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .logo img {
    max-height: 60px; /* Adjust the height as needed */
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    margin: .5rem 0;
  }

  .user-image img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
  
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1rem;
  }

  .navbar-container {
    display: none;
  }

  .navbar-container.open {
    display: block;
  }
  
  .navbar-container {
    position: fixed;
    margin-top: 90px;
    top: 0; 
    right: 1rem;
    height:auto;
    width: 300px;
    background-color: #fff;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: 6px;
    padding: 18px 16px;
  }

  .navbar-container .navbar ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-transform: capitalize;
    height: 100%;
    width: 100%;
    flex-flow: column;
  }

  .navbar ul li {
    margin: .5rem 0;
    cursor: pointer;
  }

  .navbar ul li:nth-child(1) {
    margin: 0;
  }

  .navbar ul li:hover {
    color: #6ca0f9;
  }


  @media (max-width: 768px) {
    .app-header {
      padding: 1rem 0;
    }
    .host-button {
      display: none;
    }
    .navbar-container {
      text-align: left;
    }
  
    .navbar {
      text-align: center;
    }
  }
  