<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Boggle</title>
</head>
<body>
    <section class="home items-center">
        <div class="left">
            <h1 class="text-5xl capitalize font-bold mb-3" style="color: #000;">Discover Your Perfect Car Journey with <span style="color: #12B7D2;">Boggle</span></h1>
            <p class="text-2xl font-medium mb-6" style="color: #000;">Your Ultimate Solution for Car Sharing and Ownership</p>
            <div class="flex flex-container">
                <div class="andriod mr-2">
                  <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
                </div>
                <div class="ios">
                  <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
                </div>
              </div>
        </div>
        <div class="img-left">
            <img src="assets/images/image-3.png" alt="car-image"/>
        </div>
    </section>
    <section class="car-section">
      <h1 class="text-3xl font-bold mb-3" style="color: #000;">Browse by make</h1>
      <div class="carousel-con">
        <div class="carousel-wrapper">
          <div class="carousel mb-2" [style.transform]="'translateX(' + currentIndex * -itemWidth + 'px)'">
            <div *ngFor="let car of cars" class="image-con mb-3 flex flex-col rounded">
              <img [src]="car.imageUrl" alt="{{ car.make }}" class="rounded" />
              <p class="text-base text-center my-1 font-bold">{{ car.make }}</p>
            </div>
          </div>
          <div class="nav-buttons">
            <button (click)="prev()">❮</button>
            <button (click)="next()">❯</button>
          </div>
        </div>
      </div>
      <h1 class="text-3xl font-bold my-4 capitalize text-center" style="color: #000;">Why Choose Boggle?</h1>
      <div class="card-section">
        <div class="card-holder mb-3">
          <div class="login-container">
            <div class="img">
              <img src="assets/images/time-circle-.svg" alt="clock-icon" />
            </div>
            <div class="text-lg text-center font-bold my-2 capitalize">Flexibility</div>
            <div class="text-sm text-center">Boggle puts you in control. Choose the ownership duration that aligns with your lifestyle, offering unparalleled flexibility.</div>
          </div>
          <div class="login-container">
            <div class="img">
              <img src="assets/images/wallet.svg" alt="wallet-icon" />
            </div>
            <div class="text-lg text-center font-bold my-2 capitalize">Savings</div>
            <div class="text-sm text-center">Enjoy cost-effective pricing that eliminates hefty down payments and ongoing maintenance expenses.</div>
          </div>
          <div class="login-container">
            <div class="img">
              <img src="assets/images/search-1.svg" alt="search-icon" />
            </div>
            <div class="text-lg text-center font-bold my-2 capitalize">Transparency</div>
            <div class="text-sm text-center">Boggle is all about transparency. There are no hidden charges; everything is included in the upfront pricing</div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-section">
      <div class="about-text">
        <h1 class="text-3xl font-bold text-center my-4 capitalize" style="color: #000;">What is <span style="color: #12B7D2;">Boggle</span>?</h1>
        <p class="text-base text-center" style="color: #000;">
          Boggle is a pioneering car-sharing marketplace that provides flexible options for both short-term and long-term vehicle ownership and car purchases. Our mission is to simplify the way people access and own cars while reimagining the traditional car-buying experience.</p>
          <button class="button my-3 mx-auto">Submit</button>
      </div>
      <div class="about-image">
        <img src="assets/images/homepage-about.png" alt="car-bg" />
      </div>
    </section>
    <section class="app-section">
      <p class="text-base font-bold text-center my-4" style="color: #12B7D2;">How  Boggle works</p>
      <h1 class="text-3xl font-bold" style="color: #000;">Find Your Perfect Drive in Three Easy Steps</h1>
      <div class="rev flex justify-between items-center mt-5">
        <div class="app-text">
          <div class="flex flex-col mb-3">
          <p class="text-base font-bold my-1 capitalize" style="color: #12B7D2;">Get the Boggle App</p>
          <p class="text-base mb-3" style="color: #000;">Download and join for free. No membership fees ever.</p>
          <div class="flex">
            <div class="andriod-1 mr-2">
              <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
            </div>
            <div class="ios-1">
              <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
            </div>
          </div>
          </div>
          <div class="flex flex-col">
            <p class="text-base font-bold my-1 capitalize" style="color: #12B7D2;">Discover Your Ideal Ride</p>
            <p class="text-base" style="color: #000;">Explore a wide range of cars, trucks, vans, and more.</p>
            <p class="text-base mb-3" style="color: #000;">Instantly book your vehicle through the app, with hourly rates ensuring 
                you only pay for the time you reserve.</p>
            </div>
            <div class="flex flex-col">
              <p class="text-base font-bold my-1 capitalize" style="color: #12B7D2;">Start Your Journey</p>
              <p class="text-base" style="color: #000;">Unlock your car right from the Boggle app.</p>
              <p class="text-base mb-3" style="color: #000;">No need for in-person meetups or key exchanges.</p>
              </div>
        </div>
        <div class="app-image">
          <img src="assets/images/hand.png" alt="a-hand-holding-phone" />
        </div>
      </div>
    </section>
    <section class="city-section">
      <h1 class="text-2xl text-center font-bold mb-3" style="color: #000;">Browse By City</h1>
      <div class="carousel-con">
        <div class="carousel-wrapper">
          <div class="carousel mb-2" [style.transform]="'translateX(' + currentIndex * -itemWidth + 'px)'">
            <div *ngFor="let car of cars" class="state-image-con mb-5 flex flex-col" style="border-radius: 50%;">
              <img [src]="car.imageUrl" alt="{{ car.make }}"/>
            </div>
          </div>
          <div class="nav-buttons">
            <button (click)="prev()">❮</button>
            <button (click)="next()">❯</button>
          </div>
        </div>
      </div>
      <a href="#"><h1 class="text-lg font-bold mb-5 capitalize" style="color: #12B7D2;">Explore Hosting</h1></a>
      <div class="city-bg">
        <img src="assets/images/homepage-rectangle-34.png" alt="man-sitting"/>
        <div class="city-text absolute flex flex-col text-left mb-3">
          <h1 class="text-2xl capitalize font-bold" style="color: #000;">Have a car?</h1>
          <h1 class="text-2xl capitalize font-bold mb-2" style="color: #000;">Start sharing</h1>
          <p class="text-base capitalize" style="color: #000;">Become a Host and list your car on Boggle. You'll help your neighbors travel easier while making extra money each month.</p>
          <a><button class="city-button mt-3">Learn More</button></a>
        </div>
      </div>
    </section>
    <section class="app-sect flex">
      <div class="app-image">
        <img src="assets/images/Frame-22.png" alt="boggle-app-image" />
      </div>
      <div>
        <h1 class="text-2xl capitalize font-bold" style="color: #000;">Experience Boggle on-the-Go</h1>
        <p class="text-base capitalize my-3" style="color: #000;">Download our mobile app today!</p>
        <div class="flex">
          <div class="andriod mr-2">
            <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
          </div>
          <div class="ios">
            <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <app-footer></app-footer>
</body>
</html>
