.accordion {
    border-radius: 6px;
    margin: 0.1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
  }
  
  .accordion-header {
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    
  }

  .accordion-header h1 {
    text-align: left;
    white-space: wrap; /* Allow long words to break */
  }
  
  .toggle-icon {
    font-size: 18px;
    text-align: right;
    margin-left: 10px;
    color: #000;
  }
  
  .accordion-body {
    color: #000;
    text-transform: capitalize;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
  }

  