<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
</head>
<body>

<!-- Screen 1: Enter Email -->
<div class="login-container" *ngIf="currentScreen === 1">
    <h3 class="mb-2">Forgot Password</h3>
    <p>Please enter your email address to reset your password.</p>
    <label class="mt-2" for="email">Email Address</label>
    <input type="email" id="email" [(ngModel)]="email" required/>
    <button class="button mt-3" (click)="sendOtp()">Continue</button>
  </div>
  
  <!-- Screen 2: Enter OTP -->
  <div class="login-container" *ngIf="currentScreen === 2">
    <h3 class="mb-2">Enter OTP</h3>
    <p>An OTP has been sent to your email. Enter it below.</p>
    
    <!-- Container for the circle inputs -->
    <div class="otp-container mt-2">
      <!-- Five input fields representing each digit -->
        <input type="text" id="otp1" [(ngModel)]="otp[0]" maxlength="1" class="otp-input" />
        <input type="text" id="otp2" [(ngModel)]="otp[1]" maxlength="1" class="otp-input" />
        <input type="text" id="otp3" [(ngModel)]="otp[2]" maxlength="1" class="otp-input" />
        <input type="text" id="otp4" [(ngModel)]="otp[3]" maxlength="1" class="otp-input" />
        <input type="text" id="otp5" [(ngModel)]="otp[4]" maxlength="1" class="otp-input" />

    </div>
  
    <h5 class="my-2">Didn't Receive Code? (<span>30</span>)</h5>
    <button class="button mb-2" (click)="verifyOtp()">Verify OTP</button>
    <button class="back-btn" (click)="prevScreen()">Back</button>
  </div>
  
  
  
  <!-- Screen 3: Reset Password -->
  <div class="login-container" *ngIf="currentScreen === 3">
    <h3 class="mb-2">Reset Password</h3>
    <p>Set a new password for your account.</p>
    <label class="mt-2" for="new-password">New Password</label>
    <input type="password" id="new-password" [(ngModel)]="newPassword" />
    <label class="mt-2" for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" />
    <button class="button my-2" (click)="resetPassword()">Submit</button>
  </div>
  
  <!-- Screen 4: Password Reset Success -->
  <div class="login-container" *ngIf="currentScreen === 4">
    <h3 class="mb-2">Password Reset</h3>
    <div><i class="fas fa-check-circle text-7xl my-3" style="color: #12B7D2;"></i></div>
    <div class="text-lg text-center mb-2">Your password has succesfully been reset.</div>
    <button class="button mt-2" (click)="navigateToLogin()">Login</button>
  </div>
  
</body>
</html>
